<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/header :: header">
		<title id="tituloPagina">Bitácora</title>
	</head>
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<!-- Inicio de la página -->
			
			<h1 class="text-center">Bitácora</h1>
			<div class="container">
				<table id="tabla-bitacora" 
			       data-toggle="table"
			       data-height="450"
			       data-pagination="true"
			       data-search="true"
			       data-click-to-select="true">
			    </table>
			</div>
		<!-- Fin de la página -->
	</body>
</html>