<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="modal">
    <div id="modal-modificacion-usuario" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar Usuario</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Usuario:</span>
                            <div class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="text"
                                       id="modificacion-usuario-alias"
                                       disabled="disabled"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Nombre(s):</span>
                            <div id="input-mod-nombre" class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="text"
                                       id="modificacion-usuario-nombre"
                                       onfocus="onFocusNombreMod()"
                                       ng-keyup="onKeyUpNombre()"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span id="span-usuario-nombre" class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Apellido Paterno:</span>
                            <div id="input-mod-paterno" class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="text"
                                       id="modificacion-usuario-paterno"
                                       onfocus="onFocusPaternoMod()"
                                       ng-keyup="onKeyUpPaterno()"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span id="span-usuario-paterno" class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Apellido Materno:</span>
                            <div id="input-mod-materno" class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="text"
                                       id="modificacion-usuario-materno"
                                       ng-model="usuario.materno"
                                       onfocus="onFocusMaternoMod()"
                                       ng-keyup="onKeyUpMaterno()"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span id="span-usuario-materno" class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Contraseña:</span>
                            <div class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="password"
                                       id="modificacion-usuario-password"
                                       onfocus="onFocusPasswordMod()"
                                       ng-keyup="onKeyUpPassword()"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Confirmar contraseña:</span>
                            <div class="col-xs-12 col-sm-6 col-md-6 has-success">
                                <input type="password"
                                       id="modificacion-usuario-confirmar"
                                       onfocus="onFocusConfirmarMod()"
                                       ng-keyup="onKeyUpConfirmaPassword()"
                                       class="form-control"
                                       style="margin-bottom:15px;"></input>
                                <span class="glyphicon glyphicon-ok form-control-feedback glyphicon-input"></span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="text-right col-xs-12 col-sm-6 col-md-6 row-vertcal">Tipo de Usuario:</span>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <!-- <input type="text" ng-model="usuario.tipo" class="form-control"> -->
                                <div class="form-group" ng-click="onFocusTipo()">
                                    <select id="selector-usuario-modificacion" class="selectpicker form-control">
                                        <option value="1">Vendedor</option>
                                        <option value="2">Supervisor</option>
                                        <option value="3">Administrador</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                <div id="mensaje-modificacion-usuario" class="alert alert-info alert-info-modal text-center">
                                    Favor de realizar las modificaciones
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-warning"
                            ng-show="cerrarAltaUsuario"
                            ng-click="onAltaUsuarioCerrar()">
                        Cerrar
                    </button>
                    <button type="button"
                            class="btn btn-success"
                            ng-show="aceptarCancelarAltaUsuario"
                            ng-disabled="validacionesFormulario"
                            ng-click="onAltaUsuarioAceptar(usuario)">
                        Aceptar
                    </button>
                    <button type="button"
                            class="btn btn-danger"
                            ng-show="aceptarCancelarAltaUsuario"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>