<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/header :: header">
		<title id="tituloPagina">Usuarios</title>
	</head>
	<body ng-app="SistemaGestionApp">
		<div th:replace="fragments/menu :: menu"></div>
		<!-- Inicio de la página -->
			
			<h1 class="text-center">Usuarios</h1>
			<div class="container">
				<table id="tabla-usuarios" 
			       data-toggle="table"
			       data-height="450"
			       data-pagination="true"
			       data-search="true"
			       data-click-to-select="true">
			    </table>
			    
			    <div class="row text-center" ng-controller="operaciones_usuarios">
			    	<button id='boton2' class="btn btn-danger" ng-click="eliminarUsuario()">Eliminar</button>
			    	<button id='boton3' class="btn btn-warning" ng-click="modificarUsuario()">Modificar</button>
			    	<button id='boton1' class="btn btn-success" ng-click="agregarUsuario()">Agregar</button>
			    </div>
				  
			</div>
						
            <div th:replace="usuarios/modalAltaUsuario :: modal"></div>
            <div th:replace="usuarios/modalBajaUsuario :: modal"></div>
            <div th:replace="usuarios/modalSeleccioneUsuario :: modal"></div>

		<!-- Fin de la página -->
	</body>
</html>