<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="menu">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/home}">
                        <img th:src="@{/images/logo.png}" 
                            width="69" height="34" 
                            style="margin-top:-7px; margin-left:-12px;" />
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbarToCollapse">
                        <span class="sr-only">Toggle Header</span> 
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span>
                    </button>
                    </div>
                <div class="collapse navbar-collapse" id="navbarToCollapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Ventas <span class="caret"></span> 
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/vendedor/ventas}">Realizar Ventas</a></li>
                                <li><a th:href="@{/vendedor/ventas-consulta}">Consultar Ventas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Catálogos <span class="caret"></span> 
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/supervisor/productos}">Productos</a></li>
                                <li><a th:href="@{/supervisor/servicios}">Servicios</a></li>
                                <li><a th:href="@{/supervisor/medicamentos}">Medicamentos</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/supervisor/inventario}">Inventario</a></li>
                        <li><a th:href="@{/administrador/usuarios}">Usuarios</a></li>                                       
                        <li><a th:href="@{/administrador/clientes}">Clientes</a></li>
                        <li><a th:href="@{/supervisor/bitacora}">Bitácora</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" th:action="@{/logout}" method="POST">
						<button type="submit" class="btn btn-danger btn-sm">
							<span class="glyphicon glyphicon-log-out"></span> Salir
						</button>
					</form>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>